* {
  box-sizing: border-box;
}
body{
  background-color:#28262B;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* NABVAR PART */
.navbar{
    /* background:#28262B ; */
    height: 6rem;
    width:100%;
    position: relative;
    overflow: hidden;
}
.form-search {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:100%;
}
.logo {
  margin-top:-10px;
  margin-left: 0.6rem;
  width: 10rem;
  height: 5rem;
  float:left;
}
.bs-search{
  align-self: center;
}
.search:focus{
  outline: solid rgb(246, 236, 236);
}
.search{
  float: none;
  position:absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(82, 80, 80);
  transform: translate(-50%, -50%);
  border-radius:  0.25rem ;
  border: none;
  border-color: transparent;
  height: 2.4rem;
  width: 50%;
  padding: 0.5rem;
  font-size: 1.2rem;
  padding-left: 40px;
}   
.btn-search{
  position: absolute;
  margin-left: 25%;
  cursor: pointer;
  color: #ffff;
  font-size: 1.4rem;
  width:2.4rem;
  height:2.49rem;
  border: rgb(168, 168, 168);
  border-radius:  0.25rem 0rem 0rem 0.25rem;
  background-color:grey ;
}
.btn-search:hover{
  background: #94989c;
}
.btn-cart{
  color: #fff;
  float: right;
  position:relative;
  margin-right: 1rem;
  width:2.4rem;
  cursor: pointer;
  font-size: 1.4rem;
  height:2.49rem;
  border: rgb(168, 168, 168);
  border-radius:  0.25rem 0.25rem 0.25rem 0.25rem;
  background-color:grey ;
}
.btn-cart:hover{
  background: #94989c;
}
@media screen and (max-width: 600px) {
  .logo{
    margin-top: 0.2rem;
 width: 8rem;
 height: 4rem;
  }
  .search{
    display: none
  }
  .form-search{
    position: absolute;
    width: 5rem;
    float: right;
    margin-left:40% ;
  }
  .btn-search{
    top: 50%;
    transform: translate(-50%, -50%);
    width:2.4rem;
    height:2.45rem;
    border-radius:  0.25rem 0.25rem 0.25rem 0.25rem;
  }
  .btn-cart{
    margin-right: 0rem;
    border-radius:  0.25rem 0.25rem 0.25rem 0.25rem;
  }
  @media (max-width: 350px){
    .navbar{
      height:4rem
    }
    .logo{
      margin-left: -0.5rem;
      height: 3rem
    }
    .btn-search{
      top: 50%;
      transform: translate(-70%, -50%);
      width:2rem;
      height:2.05rem;
      border-radius:  0.25rem 0.25rem 0.25rem 0.25rem;
    }
    .btn-cart{
      margin-right: 1rem;
      width:2rem;
      height:2.05rem;
      border-radius:  0.25rem 0.25rem 0.25rem 0.25rem;
    }
  }
}

/* SLIDER PART */
.section{
  transition: all 1.5s ease;
  height: 800px;
}
.section-center{
  /* background-color: #28262B; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  display:flex;
  overflow: hidden;
  position: absolute;
  text-align: bottom;
}
article {
  transition: all 0.3s linear;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.keyboard-img{
  display:flex;
  height: 95%;
  width: 100%;
 object-fit: cover
}
.description{
  position: absolute;
  bottom: 20px;
  left: 16px;
}
.prev,
.next {
  color:gray;
  display: flex;
  transform: translateY(-50%);
  cursor: pointer;
  position:absolute;
  top: 24.5em;
  width: 2.7rem;
  height: 2.7rem;
  background-color: transparent;
  border-radius: 30%;
  overflow: hidden;
  border-color: transparent;
  font-size: 2rem;
}
.next{
  right: 0%;
}
.prev{
left: 0rem;
}

/* para monitores */
@media screen and (min-width:1200px){
  .section{
    height: 880px;
  }
  .section-center{
    width: 100%;
    height: 880px;
    display: flex;
    position: absolute;
    text-align: bottom;
  }
  .prev,
  .next {
    position:absolute;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    top:17.8em;
   bottom:0;
  display: flex;
}
}
/* laptos o tablets */
@media screen and (max-width:900px){
  .section{
    width: 100%;
    height: 60vh;
  }
  .section-center{
    width: 100%;
    height: 100%;
    display:flex;
    position: relative;
  }
  .prev,
  .next {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    top:18.3em;
  display: flex;
}
}
/* para celulars */
@media screen and (max-width:600px){
  .section{
    width: 100%;
    height: 42vh;
  }
  .keyboard-img{
    height: 92%;
  }
  .section-center{
    width: 100%;
    height:100%;
    display:flex;
    position: relative;
   
  }
  .prev,
  .next {
    position:absolute;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    top:12.6em;
    display: flex;
}
}

@media screen and (max-width:478px){
  .section{
    width: 100%;
    height: 22vh;
  }
  .section-center{
    width: 100%;
    height: 22vh;
    display:grid;
    position: relative;
  }
  .keyboard-img{
    height: 86%;
  }
  .prev,
  .next {
    width: 2.2rem;
    height: 2.2rem;
    font-size: 2rem;
    top: 6.4em;
    display: flex;
}
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

/* DISPLAYING ITEMS */

/* KeyboardList */
.keyboard-list{
  width: 100%;
  height: 100%;
}
.keyboard-list h2{
  display: flex;
 justify-content: center;
 color:#ffffff;
}
/* relative to the parent and absolute to the children */
.list-container{
  position:relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap:20px 30px;
  justify-content: center;
}

/* ReadyKeyboards */
.keyboards{
  position:relative;
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  height:30rem;
  color:rgb(34, 31, 27);
}
.img-container{
  margin:0;
   height: 55%;
   width: 100%;
   background-position: center;
  }
  .ready-img{
  border-radius:  0.95rem ;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.keyboard-footer{color: #CEE5F2;
    height: 8rem;
    margin-top:-7rem;
   position: relative;
    text-align: center}
 .keyboards p {
  font-weight:bold;
  color: #e9f0f4;;
}
@media screen and (min-width: 1550px) {
  .keyboards{
    width: 20%;
    height:35rem;
  }
  .img-container{
    height: 68%;
    width: 100%;
   }
   .keyboard-footer{ 
    height: 8rem; 
    margin-top:-4rem;
  }
}
@media screen and (max-width: 930px) {
  .keyboards{  width: 30%; height:28rem;
  }
  .keyboards p {
    font-weight:bold;
    font-size:15px;
  }
  .keyboard-footer{ 
    height: 40%; 
    margin-top:-3.5rem;
  }
}
@media screen and (max-width: 750px) {
  .keyboards{width: 85%; height:85%;  };
  .img-container{height: 10rem;width: 32rem;};
  .keyboard-footer{ 
    float:left;
    margin-top:-5rem;
    position:relative;
    width: 100%;
    /* display:inline-block; */
    overflow: auto;
  }
  .keyboards p {
    width: 32rem;
    display: inline;
    /* margin: auto; */
    text-align: center;
  }
}
.keyboard-detail{
  /* margin-bottom:15;  */
  color: white;
  width: 20px;
  /* padding: 0.45rem 0.8rem; */
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
}